## Question 8

a) All the temperature data.

%%sql
SELECT Temperature FROM <table_name>;

b) All the cities, but without repetition.

%%sql
SELECT DISTINCT City FROM <table_name>;

c) All the records for India.

%%sql
SELECT * FROM <table_name>
WHERE Country='India';

d) All the Fall records.

%%sql
SELECT * FROM <table_name>
WHERE Season='Fall';

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

%%sql
SELECT City, Country, Season FROM <table_name>
WHERE AVG(Rainfall) BETWEEN 200 AND 400;

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

%%sql
SELECT City, Country FROM <table_name>
where Season = 'Fall' and Temperature > 20
ORDER BY Temperature ASC;

g) The total annual rainfall for Cairo.

%%sql
SELECT sum(RainFall) from <table_name>
where City = 'Cairo';

h) The total rainfall for each season.

%%sql
SELECT Season, sum(RainFall) from <table_name>
group by Season;